<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PP的博客</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div>
        <!-- 顶部导航栏 -->
        <div class="nav">
            <div class="nav-item-left">
                <div class="nav-item">
                    <!-- <img src="./img//blog.svg" alt=""> -->
                    <span>PP的博客</span>
                </div>
                <div class="nav-item">
                    <input type="text" value="搜索">
                </div>
            </div>
            <div class="nav-item-right">
                <div class="nav-item">
                    <a href="./index.html">首页</a>
                </div>
                <div class="nav-item">
                    <a href="../html/index.html">HTML</a>
                </div>
                <div class="nav-item">
                    <a href="../css/index.html">CSS</a>
                </div>
                <div class="nav-item">
                    <a href="../javascript/index.html">JavaScript</a>
                </div>
                <div class="nav-item">
                    <a href="../vue/index.html">Vue</a>
                </div>
                <div class="nav-item">
                    <a href="#">Github</a>
                </div>
            </div>
        </div>

        <!-- 主体 -->
        <div class="main">
            <!-- 主体左侧 -->
            <div class="main-left">
                <div class="top">
                    <div class="new">
                        <div>
                            <img src="./img/new.svg" alt="">
                            <span>头条</span>
                        </div>
                        <div>
                            <p>我是头条我是头条我是头条我是头条我是头条我是头条
                                我是头条我是头条我是头条我是头条我是头条我是头条
                                我是头条我是头条我是头条我是头条我是头条我是头条
                                我是头条我是头条我是头条我是头条我是头条我是头条
                                我是头条我是头条我是头条我是头条我是头条我是头条
                            </p>
                        </div>
                    </div>
                    <div class="hot">
                        <div>
                            <img src="./img/hot.svg" alt="">
                            <span>热门</span>
                        </div>
                        <div>
                            <p>我是热门我是热门我是热门我是热门我是热门我是热门
                                我是热门我是热门我是热门我是热门我是热门我是热门
                                我是热门我是热门我是热门我是热门我是热门我是热门
                                我是热门我是热门我是热门我是热门我是热门我是热门
                                我是热门我是热门我是热门我是热门我是热门我是热门
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="bottom-nav">
                        <div class="bottom-nav-left">
                            <div class="item">关注</div>
                            <div class="item">热门</div>
                            <div class="item">推荐</div>
                        </div>
                        <div class="bottom-nav-right">
                            <div>
                                <span>更多</span>
                                <span>></span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- 主体右侧 -->
            <div class="main-right">
                <h1>轮播图</h1>
            </div>
        </div>
    </div>
</body>
</html>