a {
  text-decoration: none;
  color: #000;
}
.nav {
  width: 100%;
  height: 50px;
  /*background-color: rgb(187, 195, 31);
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    top: 0;*/
  border-bottom: 1px solid #e8e8e8;
  /*img {
        width: 5vw;
        height: 2vh;
    }*/
}
.nav .nav-item-left {
  width: 29vw;
  float: left;
  display: flex;
}
.nav .nav-item-left .nav-item {
  flex: 1;
  text-align: center;
  line-height: 50px;
}
.nav .nav-item-right {
  float: right;
  width: 68vw;
  display: flex;
}
.nav .nav-item-right .nav-item {
  flex: 1;
  text-align: center;
  line-height: 50px;
}
.main {
  width: 90vw;
  height: 100vh;
  /*background-color: aquamarine;*/
  display: flex;
  margin: 0 auto;
}
.main .main-left {
  width: 70vw;
  /*background-color: rgb(198, 54, 54);*/
  float: left;
}
.main .main-left .top {
  width: 70vw;
  height: 60vh;
  margin-top: 5vh;
}
.main .main-left .top img {
  width: 2vw;
  height: 2vh;
}
.main .main-left .top .new {
  width: 46vw;
  float: left;
  border-right: 1px solid #dbd7d7;
}
.main .main-left .top .hot {
  width: 23vw;
  float: right;
}
.main .main-left .bottom {
  margin-top: 10vh;
}
.main .main-left .bottom .bottom-nav {
  /*background-color: yellow;*/
  width: 70vw;
  height: 45vh;
  line-height: 45vh;
  color: #9ba2a0;
}
.main .main-left .bottom .bottom-nav .bottom-nav-left {
  /*background-color: rgb(58, 21, 21);*/
  float: left;
  width: 32vw;
  display: flex;
}
.main .main-left .bottom .bottom-nav .bottom-nav-left .item {
  flex: 1;
}
.main .main-left .bottom .bottom-nav .bottom-nav-right {
  /*background-color: rgb(190, 66, 66);*/
  float: right;
  width: 32vw;
}
.main .main-left .bottom .bottom-nav .bottom-nav-right div {
  text-align: right;
}
.main .main-right {
  flex: 1;
  float: right;
  border: 1px solid #e4e3e3;
  margin: 1vh 1vw;
}
